.DS_Store
.php_cs.cache
.scrutinizer.yml
.travis.yml
.gitignore
.dockerignore

Dockerfile.client.k8s
Dockerfile.server.k8s
infection-log.txt
infection.json.dist

.idea/
uploads/
k8s/
docker/
bin/*.sh
.git/
