---
language: php

php:
  - '7.1'
  - '7.2'
  - '7.3'

env:
  matrix:
    - FLAGS="--prefer-lowest --prefer-stable"
    - FLAGS=""

before_install:
  - composer self-update && composer update $FLAGS

services:
  - redis-server

script: ./vendor/bin/phpunit --coverage-clover=coverage.clover

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover coverage.clover
