<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" bootstrap="tests/bootstrap.php"
         backupStaticAttributes="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true"
         convertWarningsToExceptions="true" processIsolation="false" stopOnFailure="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
        <exclude>
            <directory suffix=".php">./src/Commands</directory>
            <directory suffix=".php">./src/Config</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="REDIS_HOST" value="127.0.0.1"/>
        <env name="REDIS_PORT" value="6379"/>
        <env name="REDIS_TIMEOUT" value="0.5"/>
        <env name="REDIS_DATABASE" value="15"/>
    </php>
</phpunit>
